ion-content {
    --background: #f3f3f3de;
}
.header{
    box-shadow: none;
}

.myList ion-button{
    width: 60px;
    height: auto;
}
ion-avatar{
    --border-radius: 4px;
    margin-bottom: 10px;
}
