<ion-menu side="end" menuId="mainMenu" contentId="main-content">
  <ion-header>
    <ion-toolbar color="light">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item button (click)="openNewProduct()">
        <ion-label>Nuevo producto</ion-label>
      </ion-item>
      <ion-item button>
        <ion-label>Configuración</ion-label>
      </ion-item>
      <ion-item button (click)="closeSession()">
        <ion-label>Cerrar Sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="mainPage" id="main-content">
  <ion-header class="header">
    <ion-toolbar>
      <ion-title>Mis Productos</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="openMenu()">
          <ion-icon name="menu" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-searchbar placeholder="¿Que te apecete tomar hoy?"></ion-searchbar>
    <ion-list class="myList">
      <ion-item *ngFor="let p of product" [routerLink]="['/upload-product', p.id]">
        <ion-label>
          <ion-avatar slot="start" class="avatar">
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <h1>{{p.nameProduct}}</h1>
          <p>{{p.detailsProduct}}</p>
          <h2>{{p.priceProduct}} €</h2>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</div>