ion-header{
  box-shadow: none;
}

ion-content {
    --background: #f3f3f3de;
}
.header{
    box-shadow: none;
}

.myList ion-button{
    width: 60px;
    height: auto;
}
ion-avatar{
    --border-radius: 20px;
    margin-bottom: 10px;
}

.buttonsSelection {
  display: flex;
  align-items: center;
  gap: 3px; 
  margin-right: 3px;
  width: auto;
}
ion-button.buttonsSelection{
    --background: orange;
    width: 40px;
    height: 40px;
}
ion-icon{
  color: black;
}

ion-input {
  width: 30px;
  text-align: center;
  color: black;
}
