ion-content {
    --background: #f3f3f3de;
}
.header{
    box-shadow: none;
}

.myList ion-button{
    width: 60px;
    height: auto;
}
ion-avatar{
    --border-radius: 4px;
    margin-bottom: 10px;
}

.buttonsSelection {
  display: flex;
  align-items: center;
  gap: 3px; 
  margin-right: 3px;
  width: auto;
}
.buttonsSelection ion-button{
    background-color: orange;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    border: 1px solid black;
}

ion-input {
  width: 30px;
  text-align: center;
  color: black;
}
