<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" default-href="#" class="btnBack"></ion-back-button>
    <ion-title>Gestionar Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="¿Que te apecete tomar hoy?"></ion-searchbar>
  <ion-list class="myList">
    <ion-item *ngFor="let p of product" [routerLink]="['/upload-product', p.id]">
      <ion-avatar slot="start">
        <img *ngIf="p.filename" src="http://localhost:8080/Images/{{p.filename}}" alt="producto">
      </ion-avatar>
      <ion-label>
        <h1>{{p.nameProduct}}</h1>
        <p>{{p.detailsProduct}}</p>
        <h2>{{p.priceProduct}} €</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
