<ion-content [fullscreen]="true">

    <video autoplay muted loop playsinline id="background-video">
    <source src="https://res.cloudinary.com/dbsmovsxa/video/upload/v1760702999/baristaVideo_lsbyty.mp4" type="video/mp4" />
    Tu navegador no soporta videos HTML5.
  </video>


  <div class="containerIndexText">
    <h1>Bienvenidos a CoffeGo</h1>
    <ion-label>Tu cafe a tu manera</ion-label>
    <ion-label>Pide y paga, a que esperas.</ion-label>
  </div>
  

  <div class="btnStart" (click)="openLogin()">
    <ion-button fill="clear">
      Comenzamos
    </ion-button>
  </div>


</ion-content>