<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="containerImageLogo">
    <ion-img class="logo" src="assets/LogoCoffeeGo.png" alt="CoffeGo">
    </ion-img>
  </div>

  <div class="containerIndexText">
    <h1>Bienvenidos a CoffeGo</h1>
    <ion-label>Tu cafe a tu manera</ion-label>
    <ion-label>Pide y paga a que esperas.</ion-label>
  </div>
  

  <div class="btnStart">
    <ion-button fill="clear">
      Comenzamos
    </ion-button>
  </div>


</ion-content>