<ion-content [fullscreen]="true">
   <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="manage-product">
        <ion-icon name="fast-food-outline"></ion-icon>
        <ion-label>Productos</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="manage-client">
        <ion-icon name="people-outline"></ion-icon>
        <ion-label>Clientes</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="manage-pay">
        <ion-icon name="card-outline"></ion-icon>
        <ion-label>Pagos</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="manage-order">
        <ion-icon name="cart-outline"></ion-icon>
        <ion-label>Pedidos</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>
