<ion-header>
  <ion-toolbar>
    <ion-title>Pedidos realizados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list class="myList">

    <ion-item *ngFor="let p of product ; let i = index">
      <ion-avatar slot="start">
        <img *ngIf="p.product.filename" src="http://localhost:8080/Images/{{p.product.filename}}" alt="producto">
      </ion-avatar>
      <ion-label>
        <h2>{{p.product.nameProduct}}</h2>
      </ion-label>

      <div slot="end" class="buttonsSelection">
        <ion-button shape="round" fill="clear" (click)="decrement(i)">
          <ion-icon name="remove-outline"></ion-icon>
        </ion-button>
        <ion-input type="number" [(ngModel)]="p.stock" readonly="true" min="0" value="1"></ion-input>
        <ion-button shape="round" fill="clear" (click)="increment(i)">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
  </ion-list>
  <ion-footer>
    <ion-item class="labelTotal">
      <ion-label>Total</ion-label>
      <ion-input readonly [value]="total+'€'"></ion-input>
      
    </ion-item>
    <ion-button expand="block" class="btnOrder">Realizar Pedido</ion-button>
  </ion-footer>


</ion-content>