ion-header{
  box-shadow: none;
}

ion-list.myList{
  margin-top: 20px;
}

.buttonsSelection {
  display: flex;
  align-items: center;
  gap: 3px; 
  margin-right: 3px;
  width: auto;
}
.buttonsSelection ion-button{
    background-color: orange;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    border: 1px solid black;
}

ion-input {
  width: 30px;
  text-align: center;
  color: black;
}
ion-footer {
  box-shadow: none;
  position: fixed;
  bottom: 0;
  margin-bottom: 10px;
  width: 100%;
  background: white;
  padding-bottom: 10px;
  z-index: 100;
}

ion-button.btnOrder {
  --background: #fc7c04;
  --color: white;
  --border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
}