ion-content {
    --background: #f3f3f3de;
}

.mainHeader {
    box-shadow: none;
}

.mainForm {
    background: transparent;
    margin-top: 20px;
}
.mainForm ion-item{
    background: transparent;
}

.mainForm ion-label {
    font-weight: bold;
    font-size: 20px;
}

.mainForm ion-input {
    border: 2px solid transparentize($color: #000000, $amount: 0.6);
    border-radius: 10px;
    margin-top: 10px;
    --padding-start: 10px;
}

.mainForm ion-textarea {
    background: transparent;
    margin-top: 10px;
    border: 2px solid transparentize($color: #000000, $amount: 0.6);
    border-radius: 10px;
    height: 200px;
    --padding-start: 10px
}

ion-button.btnAdd {
    --background: #fc7c04;
  --color: white;
  --border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  height: 30px;
  font-size: 15px;
  font-weight: bold;
}

.imageBox ion-button{
    background: transparent;
    height: 200px;
    width: 340px;
    margin-top: 20px;
    margin-left: 15px;
}


.uploadButton {
    border: 2px dashed #ccc;
    color: black;
    border-radius: 8px;
    width: 350px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: border-color 0.3s;
    margin-top: 20px;
    margin-left: 15px;
}

.uploadButton ion-icon {
    width: 30px;
    height: 30px;
}

ion-select {
    color: #000000;
    border: 2px solid transparentize($color: #000000, $amount: 0.6);
    border-radius: 10px;
    margin-top: 10px;
    --padding-start:10px
}
