ion-content {
    --background: #f3f3f3de;
}
ion-item{
    --background: #f3f3f3de;

}
.formUsers{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.formUsers ion-input {
    background-color: white;
    border-radius: 15px;
    border: 2px solid transparentize($color: #000000, $amount: 0.6);
    margin-top: 20px;
    width: 350px;
    height: 55px;
    --padding-start: 12px;
}